{
  "token": "",
  "timezoneOffset": 0,
  "emojiID": "",
  "buttonLabel": "Update Events",
  "ignoreUnannounced": false,
  "autoUpdate": false,
  "hideUpdateButton": false,
  "colors": {
    "current": "048900",
    "futureCD": "2A47FF",
    "futureRaid": "DD3131",
    "futureSpotCase": "6D2095",
    "futureOther": "CA7E00"
  },
  "months": {
    "January": 2024,
    "February": 2024,
    "March": 2024,
    "April": 2024,
    "May": 2024,
    "June": 2024,
    "July": 2024,
    "August": 2024,
    "September": 2023,
    "October": 2023,
    "November": 2023,
    "December": 2023
  },
  "eventTypesAll": ["Pokémon Spotlight Hour", "Raid Battles", "Event", "Community Day", "Season", "Raid Hour", "PokéStop Showcase", "Raid Day"],
  "eventTypesRaid": ["Raid Battles", "Raid Hour", "Raid Day"],
  "eventTypesSpotCase": ["Pokémon Spotlight Hour", "PokéStop Showcase"]
}